<form action="" method="get">
	<input type="number" class="form-control mb-3" name="surface"  placeholder="surface minimun" value="{{ app.request.get('surface') }}">
	<input type="number" class="form-control mb-3" name="budget"   placeholder="Budget maximum" value="{{ app.request.get('budget') }}">
	<select class="form-control mb-3" name="size">
		<option value="" disabled {{app.request.get('size')==null?'select'}} selected >Nombre de pièce</option>
		{% for size in sizes %}
			<option value="{{ loop.index }}" {{ loop.index ==app.request.get('size')?'selected' }}>{{ size }}</option>
		{% endfor %}

	</select>
	<button class="btn btn-primary btn-block ">Filtrer </button>
</form>