{% extends 'base.html.twig' %}

{% block page_base %}
    <h1 class="text-center my-4">Ajouter une annonce</h1>

    <div class="row" style="background-color: #F8F9FA">
        <div class="col-lg-8 offset-lg-2">

            {{ form_start(realEstateForm) }}
            <div class="row">
                <div class="col-lg-6">
                    {{ form_label(realEstateForm.title, 'Titre') }}
                    {{ form_widget(realEstateForm.title) }}
                </div>
                <div class="col-lg-6">

                    {{ form_row(realEstateForm.description) }}
                </div>
                <div class="col-lg-6">
                    {{ form_row(realEstateForm.surface) }}
                </div>
                <div class="col-lg-6">
                    {{ form_row(realEstateForm.price) }}
                </div>
                <div class="col-lg-6">
                    {{ form_row(realEstateForm.rooms) }}
                </div>
                <div class="col-lg-3">
                    {{ form_row(realEstateForm.type) }}
                </div>
                <div class="col-lg-3">
                    <div class="pt-1">
                        {{ form_row(realEstateForm.sold) }}
                    </div>
                </div>
            </div>


            {{ form_widget(realEstateForm) }}
            <button class="btn btn-primary" formnovalidate>Ajouter</button>
            {{ form_end(realEstateForm) }}
        </div>
    </div>

{% endblock %}