{% extends 'base.html.twig' %}

{% block page_base %}
    <h1 class="text-center my-4">Modifier l'annonce {{ realEstate.title }}</h1>

    <div class="row">
        <div class="col-lg-8 offset-lg-2">

            {{ form_start(realEstateForm) }}
            <div class="row">
                <div class="col-lg-6">
                    {{ form_label(realEstateForm.title, 'Titre') }}
                    {{ form_widget(realEstateForm.title) }}
                </div>
                <div class="col-lg-6">

                    {{ form_row(realEstateForm.description) }}
                </div>
                <div class="col-lg-6">
                    {{ form_row(realEstateForm.surface) }}
                </div>
                <div class="col-lg-6">
                    {{ form_row(realEstateForm.price) }}
                </div>
                <div class="col-lg-6">
                    {{ form_row(realEstateForm.rooms) }}
                </div>
                <div class="col-lg-3">
                    {{ form_row(realEstateForm.type) }}
                </div>
                <div class="col-lg-3">
                    <div class="pt-1">
                        {{ form_row(realEstateForm.sold) }}
                    </div>
                </div>
                {# --------------------------- #}

                <div class="col-lg-3">
                    {{ form_row(realEstateForm.city) }}
                </div>
                <div class="col-lg-3">
                    {{ form_row(realEstateForm.rereferenceDuBien) }}
                </div>
                <div class="col-lg-3">
                    {{ form_row(realEstateForm.chambre) }}
                </div>
                <div class="col-lg-3">
                    {{ form_row(realEstateForm.standing) }}
                </div>
                <div class="col-lg-3">
                    {{ form_row(realEstateForm.etatDuBien) }}
                </div>
                <div class="col-lg-3">
                    {{ form_row(realEstateForm.vuDuBien) }}
                </div>
                <div class="col-lg-3">
                    {{ form_row(realEstateForm.eauChaude) }}
                </div>
                <div class="col-lg-3">
                    {{ form_row(realEstateForm.chauffage) }}
                </div>
                <div class="col-lg-3">

                    {{ form_row(realEstateForm.styleDuBien) }}
                </div>
                <div class="col-lg-3">
                    {{ form_row(realEstateForm.niveau) }}
                </div>
                <div class="col-lg-3">
                    {{ form_row(realEstateForm.ascenseur) }}
                </div>
                <div class="col-lg-6">
                    {{ form_row(realEstateForm.duplex) }}
                </div>
                <div class="col-lg-6">

                    {{ form_row(realEstateForm.loft) }}
                </div>
                <div class="col-lg-6">
                    {{ form_row(realEstateForm.dernierEtage) }}
                </div>
                <div class="col-lg-6">
                    {{ form_row(realEstateForm.avecPiscine) }}
                </div>
                <div class="col-lg-3">
                    {{ form_row(realEstateForm.balcon) }}
                </div>
                <div class="col-lg-3">
                    <div class="pt-1">
                        {{ form_row(realEstateForm.garage) }}
                    </div>
                </div>
                    <div class="col-lg-3">
                        {{ form_row(realEstateForm.parking) }}
                    </div>
                    <div class="col-lg-3">
                        <div class="pt-1">
                            {{ form_row(realEstateForm.personneHandicapee) }}
                    </div>
                        <div class="col-lg-3">
                            {{ form_row(realEstateForm.investissementLocatif) }}
                        </div>
                        <div class="col-lg-3">
                            <div class="pt-1">
                                {{ form_row(realEstateForm.visitevirtuelle) }}
                            </div>
                            <div class="col-lg-6">
                                {{ form_row(realEstateForm.exposition) }}
                            </div>
                            div class="col-lg-6">

                            {{ form_row(realEstateForm.anneeConstruction) }}
                        </div>
                        <div class="col-lg-6">
                            {{ form_row(realEstateForm.anneeRenovation) }}
                        </div>
                        <div class="col-lg-6">
                            {{ form_row(realEstateForm.etage) }}
                        </div>
                        <div class="col-lg-6">
                            {{ form_row(realEstateForm.charge) }}
                        </div>
                        <div class="col-lg-6">
                            {{ form_row(realEstateForm.statut) }}
                        </div>



                {# ----------------------------- #}

                <div class="col-lg-8">
                    {{ form_row(realEstateForm.image) }}
                </div>
                <div class="col-lg-4">
                    <img class="img-fluid" src="{{ asset('img/uploads/' ~ realEstate.image) }}" alt="{{ realEstate.title }}" />
                </div>
            </div>


            {{ form_widget(realEstateForm) }}

            <div class="text-center">
                <button class="btn btn-primary my-5" formnovalidate>Modifier</button>
            </div>
            {{ form_end(realEstateForm) }}
        </div>
    </div>

{% endblock %}
